<%= form_with(model: @comment, url: user_post_comments_path, method: :post) do |f| %>
    <div>
    <%= f.label :text %>
    <%= f.text_area :text %>
    <%= f.submit "Add Comments" %>
    </div>
<% end %>
  