<%= form_with(url: user_post_likes_path(@user, @post), method: :post) do |f| %>
    <div>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "Like Post" %>
    </div>
  <% end %>
  
  