<h1>List of users</h1>
<% @users.each do |user| %>
  <div><img src="<%= user.photo %>" alt="User Photo"></div>
    <h1><%= user.name %></h1>
    <p>Number of post:<%= user.posts_counter %></p>  
  <% end %>
<h1>Henry</h1>
<p>Title: Example Post</p>
<p>Author: John Doe</p>
<p>Content: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>