<h1>User Details</h1>
<% @users.each do |user| %>
    <h1>List of Posts for User: <%= user.name %></h1>
    <ul>
      @users = User.all
    </ul>
  <% end %>
<p>Title: Example Post</p>
<p>Author: John Doe</p>
<p>Content: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>